{% extends "myapp/base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <h1>Food List</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <form method="POST">
                    {% csrf_token %}
                    <label for="foods" class="me-2">Choose a food:</label>
                    <select name="foods" id="foods">
                    <option value="none">none</option>
                    {% for food in foods %}
                        <option value="{{ food.name }}">{{ food.name }}</option>
                    {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary ms-2">Add food</button>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-7">
                <h1>Added Food</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Carbohydrates</th>
                        <th scope="col">Proteins</th>
                        <th scope="col">Fats</th>
                        <th scope="col">Calories</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for consume in consumes %}
                            <tr>
                                <th scope="row">{{ consume.curr_number }}</th>
                                <td>{{ consume.consumed_food.name }}</td>
                                <td>{{ consume.consumed_food.carbs }}</td>
                                <td>{{ consume.consumed_food.proteins }}</td>
                                <td>{{ consume.consumed_food.fats }}</td>
                                <td>{{ consume.consumed_food.calories }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-group-divider">
                        <th scope="row"></th>
                        <td class="text-left">TOTAL</td>
                        <td>{{ total_carbs }}</td>
                        <td>{{ total_proteins }}</td>
                        <td>{{ total_fats }}</td>
                        <td>{{ total_calories }}</td>
                    </tfoot>
                  </table>
            </div>
        </div>

    </div>
{% endblock content %}
